:root {
  --main-font-family: 'Cabin', sans-serif;
  --main-background-color: rgb(217, 231, 221);
  --alternate-background-color: rgb(148, 206, 255);
  --main-sending-color: rgb(162, 162, 162);
  --alternate-sending-color: rgb(52, 70, 85);
}

body {
  /* Lo uso como el contenedor global, así que el layout principal lo hago aquí con grid */
  background-image: url(../images/backgroundimg/grand-canyon-colorado-river.jpg);
  font-family: var(--main-font-family);
  margin: 0;
  display: grid;
  grid-template-rows: 10vh 52vh 10vh 28vh;
}

header {
  background-color: darkslategray;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

header div {
  color: white;
  padding: 3vh;
  font-size: 3.5vh;
  font-weight: bolder;
}

#light {
  position: relative;
  right: 2vw;
  margin-top: 0.2vh;
  width: 4rem;
  height: 3.5rem;
}

#dark {
  display: none;
}

.msg {
  /* Contenedor de los mensajes, que hace que cada mensaje esté en su línea y 
    en una sola columna, alineado a la derecha y con margen a la izquierda */
  display: flex;
  margin-left: 4rem;
  margin-right: 0.5rem;
  overflow: auto;
  flex-flow: column;
  text-align: left;
  align-items: flex-end;
}

.msg div {
  /* Los mensajes individualmente tienen su fondo y margen entre ellos */
  border-radius: 7px;
  width: fit-content;
  display: inline;
}

.msgbody {
  background-color: #e1ffc7;
  margin: 0.2rem;
  padding: 7px 3px 7px 7px;
}

.msgtyping {
  /* Esto es la zona donde irá apareciendo el mensaje a medida que se escriba */
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(150deg, var(--main-sending-color), var(--alternate-sending-color));
  position: absolute;
  bottom: 27.5vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 100vw;
}

.hour {
  padding: 7px 3px 7px 7px;
  font-size: 0.7rem;
}

#emojioff, #tecladobotoff {
  display: none;
}

#tecladoboton, #emojigif {
  width: 10vw;
  display: inline;
}

#emojigif:active {
  background-color: rgba(198, 224, 210, 0.5);
}

#textarea {
  /* Tiene las dimensiones predefinidas y la posibilidad de cambiar de tamaño está bloqueada */
  background-color: white;
  width: 65vw;
  height: 3vh;
  padding: 1.5vh;
  border-radius: 7px;
  margin: 1.5vw;
  resize: none;
  font-size: 1rem;
}

#send {
  width: 6.2vw;
  background-color: #33cc6c;
  border-radius: 10vw;
  padding: 2vw;
}

#send:active {
  background-color: rgba(198, 224, 210, 0.5);
}

#sendblocked {
  width: 11.4vw;
  bottom: 2vh;
  position: absolute;
  right: 2.5vw;
}

#sendallowed {
  display: none;
}

.teclado {
  /* Es el contenedor de todo el teclado, que distribuye las teclas al estilo qwerty */
  display: flex;
  flex-flow: column;
  background: linear-gradient(150deg, var(--main-background-color), var(--alternate-background-color));
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.teclado div div {
  /* Estas son las teclas individuales */
  display: inline-flex;
  background: linear-gradient(150deg, var(--main-background-color), var(--alternate-background-color));
  width: 8.3vw;
  height: 6.6vh;
  border: solid 1px black;
  border-radius: 6px;
  font-size: 7vw;
  align-items: center;
  justify-content: center;
}

#del {
  width: 18.5vw;
}

#space {
  width: 38vw;
}

.teclado div div:active {
  background: rgb(121, 229, 243);
}

#ehidden {
  display: none;
}

#emojiactive {
  display: grid;
  position: absolute;
  bottom: 0;
  background: linear-gradient(150deg, var(--main-background-color), var(--alternate-background-color));
  grid-template-columns: 16.66vw 16.66vw 16.66vw 16.66vw 16.66vw 16.66vw;
  grid-template-rows: 9.33vh 9.33vh 9.33vh;
}

#emojiactive div {
  font-size: 12vw;
}

#emojiactive div:active {
  background-color: rgba(81, 184, 129, 0.5);
}

.fechahoy {
  background-color: #c7fbff;
  position: sticky;
  position: -webkit-sticky;
  font-size: 6vw;
  padding: 2vw;
  margin: 3vw;
  right: 25vw;
  top: 4px;
}